/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.w-900{
    max-width: 900px;
}

/*Header*/
header{
    background-color: bisque;
    height: 500px;
}
.top-header{
    height: 15%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-header{
    height: 85%;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    background-color: aliceblue;
    height: 50%;
    width: 100%;
    display: flex;
}
.box{
    background-color: red;
    height: 100%;
    width: 25%;
}
.link{
    background-color: red;
    border: 1px solid white;
    height: 100%;
    width: 50%;
}
.main-header > div{
    height: 70%;
    width: 40%;
    background-color: pink;
}

/*Main*/
.white{
    background-color: white;
}
.gray{
    background-color: gray;
}
.sezione{
    display: flex;
    justify-content: center;
}
.contenitore{
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
}
.text-box{
    background-color: pink;
    width: 40%;
    height: 80%;
}
.image-box{
    background-color: violet;
    width: 60%;
    height: 80%;
}
.bigbox{
    margin: 20px 0;
    background-color: green;
    width: 100%;
    height: 800px;
}

/*footer*/
footer{
    height: 700px;
    background-color: black;
}
/*affronto la parte alta del footer*/
.bigfooter{
    height: 85%;
    border: 1px solid white;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigfooter > div{
    height: 100%;
    width: 100%;
    /*border: 1px solid blue;*/
    display: flex;
    align-items: flex-end;
}
.scatola{
    background-color: pink;
    height: 97%;
    width: 30%;
}
.scatoladestra{
    border: 1px solid rebeccapurple;
    height: 97%;
    width: 70%;
    display: flex;
    justify-content: flex-start;
}
.scatoladestra>div{
    border: 2px dotted lightblue;
    height: 100%;
    width: 25%;
}
/*affronto la parte bassa del footer*/
.littlefooter{
    height: 15%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.littlefooter>div{
    background-color:antiquewhite;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    border: 1px dashed black;
    background-color: greenyellow;
    width: 10%;
    height: 50%;
}